@model FrancoHotel.WebApi.Models.HabitacionModels.GetHabitacionModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de la habitación</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHabitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHabitacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoHabitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoHabitacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPiso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPiso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdHabitacion }) |
    <a asp-action="Index">Back to List</a>
</div>
