@using FrancoHotel.WedApi.Models.RecepcionModels
@model IEnumerable<GetRecepcionModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Reserva</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adelanto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioRestante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPagado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoPenalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadPersonas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdServicioPorCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioServiciosExtra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSalidaConfirmacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adelanto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioRestante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPagado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoPenalidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadPersonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdServicioPorCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioServiciosExtra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSalidaConfirmacion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
