@model IEnumerable<FrancoHotel.WebApi.Models.ServiciosModels.GetServiciosModel>

@{
	ViewData["Title"] = "Index";
}

<h1>Servicios</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.IdServicio)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Descripcion)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Precio)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Fecha)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Usuario)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.IdServicio)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Descripcion)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Precio)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Fecha)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Usuario)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.IdServicio }) |
					@Html.ActionLink("Details", "Details", new { id = item.IdServicio }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.IdServicio })
				</td>
			</tr>
		}
	</tbody>
</table>
