@model IEnumerable<FrancoHotel.Application.Dtos.RolUsuariosDtos.UpdateRolUsuarioDtos>

@{
    ViewData["Title"] = "Index";
}

<h1>RolUsuario List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdRolUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdRolUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdRolUsuario }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdRolUsuario }) |
                @*@Html.ActionLink("Delete", "Delete", new { id = item.IdRolUsuario })*@
            </td>
        </tr>
}
    </tbody>
</table>
